<header class="header">
    <div class="header-container">
        <a href="{{ site.url }}/"><img class="logo" src="{{ site.url }}/images/logo-pages.png" alt="Montage" /></a>
        <nav class="nav">
            <a class="nav-item {% if page.apps %}active{% endif %}" href="{{ site.url }}/apps">Apps</a>
            <a class="nav-item {% if page.docs %}active{% endif %}" href="{{ site.url }}/docs">Docs</a>
            <!--<a class="nav-item {% if page.api %}active{% endif %}" href="{{ site.url }}/apis">APIs</a>-->
        </nav>
    </div>
</header>